  a{
    color: rgb(0, 113, 133);
  }

  .nike{
    font-weight: bold;
    font-size: 25px;
  }

  .price{
    font-weight: bold;
    color: rgb(0, 118, 0);
  }

  .add-button{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    margin-right: 8px;
  }

  .buy{
    background-color: rgb(255, 164, 28);
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 20px;
  }